.swipeButtons{
    position: fixed;
    bottom: 10vh;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root{
background-color: white;
box-shadow: 0px 0px 30px 8px rgba(0,0,0,0.2);;
}

.swipeButtons__replay{
    padding: 3vw !important;
    color:orange !important
    
}
.swipeButtons__close{
    padding: 3vw !important;
    color:rgb(226, 82, 82) !important
}
.swipeButtons__star{
    padding: 3vw !important;
    color:rgb(103, 120, 221) !important
    
}.swipeButtons__fav{
    padding: 3vw !important;
    color:rgb(127, 245, 127) !important
}.swipeButtons__flash{
    padding: 3vw !important;
    color:rgb(214, 65, 214) !important
}